<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Best Quotes About Life </h1>
        <ul>
            <div *ngFor='let quote of quotes; let i=index'>
                <li> A quote posted by 
                    <span class="name">{{quote.name}}</span> on {{quote.datePosted|date}}
                </li>
                <button (click)='toggleQuote(i)'>See the Quote</button>
                    <app-quote-details *ngIf='quote.showQuote' [quote]='quote' (toDelete)='deleteThis($event, i)'></app-quote-details>
            </div>   
        </ul>
    </div>
</body>
</html>
