<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Create your own Quote</h1>
        <form>
            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Enter your Name">
            </div>
            <div>
                <label for="quote">Write the Quote</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Write the Quote"></textarea>
            </div>
            <div>
                <label for="author">Author of the Quote</label>
                <input type="text" placeholder="Enter the Author">
            </div>
            <button>Add Quote</button>
        </form>
    </div>
</body>
</html>
